body{
    background-color: rgb(9, 9, 9);
    color: white;
}

img.mx-1:hover{
    transform: scale(1.2);
}

img:hover{
    cursor:pointer;
}

footer{
    justify-content: center;
}

#dropdownMenuButton{
    height: fit-content;
}

.margin{
    margin-left: 7vw;
}

.immagine{
    position: absolute;
}

.dettagli{
    position: relative;
    bottom: 0;
    right: 0;
}