body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #612406;
}

h2{
    font-weight: 900;
    font-size: 2.5em;
}

b{
    font-size: x-large;
    font-weight: bolder;
}

.container1{
    display: flex;
    justify-content: center;
}

.container{
    margin: 2%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBF7E3;
    width: 100%;
    padding: 3%;
}

nav div{
    background-color: #F3DF85;
    border-radius: 50px;
    padding: 0 3%;
    display: flex;
    align-items: center;
    font-size: larger;
}

.shop{
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 90px;
}

.shop img{
    width: 35%;
    height: 60%;
}

.esterno{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #FBF7E3;
    border-radius: 75px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.card img{
    width: 100%;
    border-radius: 75px 75px 0 0;
    object-fit: cover;
    height: 300px;
}

.description{
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
    
}


.info{
    
    margin: 0;
}

.title, .info{
    flex-direction: column;
    margin: 0;
    font-size: large;
}

.price{
    align-self: flex-end;
    font-size: larger;
}

.button{
    text-align: center;
}

button{
    background-color: #F3DF85;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    width: 60%;
    font-size: larger;
    
}



.article{
    background-color: #FBF7E3;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 2%;
    border-radius: 25px;
    
    margin: 2%;
}

.article img{
    margin-right: 30px;
   flex: 1 1 600px;
   min-width: 600px;
   overflow: hidden;
   object-fit: cover;
   
}

.description1{
    
    flex: 1 1 500px;
}

.quinta{
    display: none;
}

/* MOBILE */

@media screen and (max-width:633px) {
    main{
        flex-direction: column;
    }

    nav{
        position: absolute;
        width: 100%;
    }
    .article img{
        min-width: 100%;
    }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1499px) {
    .quarta{
        display: flex;
    }
    
    .main{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    

    
}

/* MEDIUM */

@media screen and (min-width: 1500px) and (max-width: 2051px) {
    .quarta{
        display: none;
    }
}

/* LARGE */

@media screen and (min-width: 2052) and (max-width: 2694px) {
    .quinta{
        display: none;
    }
}

/* XLARGE */

@media screen and (min-width: 2695px) {
    .quinta{
        display: flex;
    }
}

/* SIDEBAR */

@media screen and (min-width: 1025px) {

    h2{
        font-size: 4.5em;
        margin: 0;
        text-align: center;
    }

    h3{
        font-weight: bolder;
        font-size: 3em;
    }

    p{
        font-size: xx-large;
    }

    nav{
        flex-direction: column;
        width: 5vw;
        min-width: 120px;
        position: fixed;
        left: 0;
        height: 90vh;
        justify-content: flex-start;
    }

    nav div{
        width: 8vw;
        min-width: 120px;
        height: 8vh;
        margin-bottom: 2vh;
        justify-content: center;
        cursor: pointer;
        border-radius: 75px;
    }

    .shop{
        width: 8vw;
        height: 8vh;
        order: -1;
        justify-content: space-around;
    }

    .shop img{
        width: 3vw;
    }

    .esterno{
        margin-left: 12vw;
    }

    .card{
        width: 390px;
        height: 450px;
        overflow: hidden;
    }

    

